
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                  <th><span>id                  </span></th>
                                  <th><span>Priorité            </span></th>
                                  <th><span>Nom                 </span></th>
                                  <th><span>Siren               </span></th>
                                  <th><span>Statusinstal        </span></th>
                                  <th><span>Hebergement         </span></th>
                                  <th><span>Acces               </span></th>
                                  <th><span>Resprojet           </span></th>
                                  <th><span>Consuldsn           </span></th>
                                  <th><span>Versagirh           </span></th>
                                  <th><span>Versprodige         </span></th>
                                  <th><span>Ifp                 </span></th>
                                  <th><span>Mirth               </span></th>
                                  <th><span>WebserpH7           </span></th>
                                  <th><span>Configagirh         </span></th>
                                  <th><span>Configprodige       </span></th>
                                  <th><span>Nomencdesabsences   </span></th>
                                  <th><span>Nomencdesemplois    </span></th>
                                  <th><span>Nomencdestatuts     </span></th>
                                  <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                  <td>id               {{site.id}}                </td>
                                  <td>Priorité         {{site.priorite}}          </td>
                                  <td>Nom              {{site.nom}}               </td>
                                  <td>Siren            {{site.siren}}             </td>
                                  <td>Statusinstal     {{site.statusinstal}}      </td>
                                  <td>Hebergement      {{site.hebergement}}       </td>
                                  <td>Acces            {{site.acces}}             </td>
                                  <td>Resprojet        {{site.resprojet}}         </td>
                                  <td>Consuldsn        {{site.consuldsn}}         </td>
                                  <td>Versagirh        {{site.versagirh}}         </td>
                                  <td>Versprodige      {{site.versprodige}}       </td>
                                  <td>Ifp              {{site.ifp}}               </td>
                                  <td>Mirtd            {{site.mirth}}             </td>
                                  <td>WebserpH7        {{site.webserpH7}}         </td>
                                  <td>Configagirh      {{site.configagirh}}       </td>
                                  <td>Configprodige    {{site.configprodige}}     </td>
                                  <td>Nomencdesabsences{{site.nomencdesabsences}} </td>
                                  <td>Nomencdesemplois {{site.nomencdesemplois}}  </td>
                                  <td>Nomencdestatuts  {{site.nomencdestatuts}}   </td>
                                  <td>&nbsp;           {{site.ACTIONS}}           </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let site of sites">
  <div>{{site.id}}                </div>
  <div>{{site.priorite}}          </div>
  <div>{{site.nom}}               </div>
  <div>{{site.siren}}             </div>
  <div>{{site.statusinstal}}      </div>
  <div>{{site.hebergement}}       </div>
  <div>{{site.acces}}             </div>
  <div>{{site.resprojet}}         </div>
  <div>{{site.consuldsn}}         </div>
  <div>{{site.versagirh}}         </div>
  <div>{{site.versprodige}}       </div>
  <div>{{site.ifp}}               </div>
  <div>{{site.mirth}}             </div>
  <div>{{site.webserpH7}}         </div>
  <div>{{site.configagirh}}       </div>
  <div>{{site.configprodige}}     </div>
  <div>{{site.nomencdesabsences}} </div>
  <div>{{site.nomencdesemplois}}  </div>
  <div>{{site.nomencdestatuts}}   </div>
  <div>{{site.ACTIONS}}           </div>
</div>


